* {
    box-sizing: border-box;
  }
  
  body {
    background-color: gray;
    font-family: system-ui, sans-serif;
    margin: 0;
  }
    
  p {
    margin: 0;
  }

  /* ----------------- top nav ------------------- */
  nav {
    background-color: white;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
  }

    
  nav button {
    background-color: #ea4c89;
    border-radius: 8px;
    padding: 10px 16px;
    border: 0;
    color: #ffffff;
    font-weight: 500;
  }

  #destinations, #actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  /* ------------------- ---------------------*/

  /* ------------------- hero --------------- */
  h1,
  h2 {
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
    font-size: 32px;
  }
  
  h2 {
    font-size: 16px;
    margin-bottom: 0;
  }

  section {
    height: 460px;
    background-color: black;
    color: white;
    padding: 24px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
    
  input {
    height: 58px;
    width: 80%;
    max-width: 600px;
    border-radius: 29px;
    border: 0px;
    padding: 0 24px;
  }

#trending {
    display: flex;
    align-items: center;
    gap: 12px;
}

#trending p {
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 6px 15px;
  }
  /* ------------------ ---------------------- */

  /* ------------- subnav -----------------*/
  #subnav {
    padding: 32px 72px 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  #subnav button {
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid black;
    background-color: white;
  }
  /*----------------- --------------------*/

  /* ----------------- main ------------------*/
    
  main {
    background-color: white;
    padding: 32px 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
  
  .img-placeholder {
    width: 355px;
    height: 270px;
    background-color: gray;
    border-radius: 8px;
  }
  
  .card-footer {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  
  .card-footer * {
    margin-top: 8px;
  }

  .card {

  }
  
  /* -------------------- ------------------*/







  

  